<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.crown.mapper.order.OrderMapper">




    <select id="queryCustomerIdByOrderId" resultType="Integer" parameterType="Integer">
        select customer_id from `order` where id = #{id}
    </select>
    <update id="updateTotalFeeByOrderId">
        UPDATE `order` SET total_fee = #{totalFee} WHERE id = #{id};
    </update>
    <select id="queryOrderByOrderNum" parameterType="String" resultType="Order">
select id,order_num,order_type,total_fee,actual_fee,promotion_ids,payment_type,post_fee,post_fee,customer_id,invoice_type,status,create_time,pay_time,consign_time,end_time,close_time,comment_time,update_time FROM `order` where order_num = #{orderNum};
</select>
    <update id="updateLogisticsByOrderId" >
        UPDATE order_logistics SET logistics_number = #{logisticsNumber},logistics_company =#{logisticsCompany} where order_id = #{id};
    </update>
</mapper>
