<div class="layui-container">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>订单地址修改</legend>
    </fieldset>
    <form id="address-form" lay-filter="address-form" class="layui-form layui-form-pane">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">收件人：</label>
            <div class="layui-input-inline" aria-disabled="false">
                <input type="text" name="addressee" lay-verify="required" placeholder="暂无"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话：</label>
            <div class="layui-input-inline" aria-disabled="false">
                <input type="text" name="phone" lay-verify="required" placeholder="暂无"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-tab-item layui-show">
            <div class="layui-form-item">
                <label class="layui-form-label">地址：</label>
                <div class="layui-input-inline">
                    <select name="province" lay-verify="required" lay-filter="province" id="province">
                        <option value=""></option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="city" lay-verify="required" id="city" lay-filter="city">
                        <option value=""></option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="district" lay-verify="required" id="district" lay-filter="district">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">街道：</label>
                <div class="layui-input-inline" aria-disabled="false">
                    <input type="text" name="street" lay-verify="required" placeholder="暂无"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="form-submit" lay-submit>保存</button>
            </div>
        </div>
    </form>
</div>


<script>

    layui.use(['layer', 'config', 'table', 'crown', 'form', 'element', 'formSelects'], function () {
        var layer = layui.layer;
        var table = layui.table;
        var crown = layui.crown;
        var config = layui.config;
        var form = layui.form;
        var formSelects = layui.formSelects;
        var $ = layui.jquery
            , element = layui.element;

        var order = crown.getTempData('t_order');
        var orderLogistics = order.orderLogistics;
        form.val('address-form', order);
        form.val('address-form', orderLogistics);//province

        crown.get('/province', {data: {areaCode: "0"}, async: false}, function (obj) {
            $.each(obj.result, function (index, item) {
                if (item.areaName == orderLogistics.province) {
                    $('#province').append(new Option(item.areaName, item.areaCode, null, true));// 下拉菜单里添加元素
                    crown.get('/province', {data: {areaCode: item.areaCode}, async: false}, function (obj2) {
                        $.each(obj2.result, function (index, item2) {//city
                            if (item2.areaName == orderLogistics.city) {
                                $('#city').append(new Option(item2.areaName, item2.areaCode, null, true));// 下拉菜单里添加元素
                                crown.get('/province', {
                                    data: {areaCode: item2.areaCode},
                                    async: false
                                }, function (obj3) {
                                    $.each(obj3.result, function (index, item3) {//district
                                        if (item3.areaName == orderLogistics.district) {
                                            $('#district').append(new Option(item3.areaName, item3.areaCode, null, true));
                                        } else {
                                            $('#district').append(new Option(item3.areaName, item3.areaCode,));
                                        }
                                    });

                                });
                            } else {
                                $('#city').append(new Option(item2.areaName, item2.areaCode));// 下拉菜单里添加元素
                            }
                        });
                    });
                } else {
                    $('#province').append(new Option(item.areaName, item.areaCode));// 下拉菜单里添加元素
                }
            });
            form.render("select");
        });
        form.render("select");
        form.on('select(province)', function (data) {
            $('#district').empty();
            $('#city').empty();
            crown.get('/province', {data: {areaCode: data.value}, async: false}, function (obj2) {
                $.each(obj2.result, function (index, item2) {//city
                    $('#city').append(new Option(item2.areaName, item2.areaCode));// 下拉菜单里添加元素
                });
            });
            form.render("select");
        });
        form.on('select(city)', function (data) {
            $('#district').empty();
            crown.get('/province', {data: {areaCode: data.value}, async: false}, function (obj2) {
                $.each(obj2.result, function (index, item2) {//city
                    $('#district').append(new Option(item2.areaName, item2.areaCode));// 下拉菜单里添加元素
                });
            });
            form.render("select");
        });
        // 表单提交事件
        form.on('submit(form-submit)', function (data) {
            debugger;
            layer.load(2);
            data.field.province = $("#province option:selected").text();  //获取选中的项
            data.field.city = $("#city option:selected").text();  //获取选中的项
            data.field.district = $("#district option:selected").text();  //获取选中的项
            crown.put('/order/' + data.field.id + '/address', {data: data.field}, function () {
                layer.closeAll('loading');
                layer.msg('修改成功', {icon: 1});
                layer.closeAll('page');
            });
        });
    });


</script>