<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">订单管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>订单</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <!-- 搜索条件 -->
        <div class="layui-form toolbar">
            <form id="searchForm" onsubmit="return false;">
                订单号查询：<input name="orderNum" class="layui-input search-input" type="text" placeholder="订单号"/>&emsp;
                <div class="layui-input-inline">
                    订单状态： <select name="status">
                    <option value="">请选择</option>
                    <option value="1">待支付</option>
                    <option value="2">未发货</option>
                    <option value="3">已发货</option>
                    <option value="4">已确认</option>
                </select>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">起始日期：</label>
                    <div class="layui-input-block">
                        <input type="text" name="beforeTime" id="date1" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束日期:</label>
                    <div class="layui-input-block">
                        <input type="text" name="afterTime" id="date2" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <button id="order-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
                </button>
            </form>
        </div>

        <!-- 数据表格 -->
        <table class="layui-table" id="order-table" lay-filter="order-table"></table>
    </div>
</div>
<!-- 表单弹窗 -->
<script type="text/html" id="address-model">

    <form id="address-form" lay-filter="address-form" class="layui-form model-form">
        <input name="id" type="hidden"/>
            <div class="layui-form-item">
                <label class="layui-form-label">地址:</label>
                <div class="layui-input-inline">
                    <select name="province">
                        <option value="">请选择省</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="city">
                        <option value="">请选择市</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="district">
                        <option value="">请选择县/区</option>
                    </select>
                </div>
            </div>
        <div class="layui-input-inline">
            订单状态： <select name="status">
            <option value="">请选择</option>
            <option value="1">待支付</option>
            <option value="2">未发货</option>
            <option value="3">已发货</option>
            <option value="4">已确认</option>
        </select>
        </div>

        <div class="layui-form-item model-form-footer">
            <button class="layui-btn" lay-filter="order-form-submit" lay-submit>确认</button>
        </div>
    </form>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="order-model">
    <form id="order-form" lay-filter="order-form" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">快递公司：</label>
            <div class="layui-input-block">
                <input type="text" name="logisticsCompany" required lay-verify="required" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">快递单号：</label>
            <div class="layui-input-block">
                <input type="text" name="logisticsNumber" required lay-verify="required" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn" lay-filter="order-form-submit" lay-submit>确认</button>
        </div>
    </form>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="order-table-bar">
    {{#  if({{detailShow}} == true){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>
    {{#  } }}
    {{#  if({{updateShow}} == true){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="update">确认发货</a>
    {{#  } }}
    {{#  if({{addressShow}} == true){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="address">修改地址</a>
    {{#  } }}
    {{#  if({{deleteShow}} == true){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    {{#  } }}

</script>

<script>
    layui.use(['form', 'table', 'config', 'crown', 'laydate'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var crown = layui.crown;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#date1' //指定元素
            , format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
        });
        laydate.render({
            elem: '#date2' //指定元素
            , format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
        });
        $('#order-table-bar').vm({
            detailShow: crown.hasPerm("order:detail"),
            updateShow: crown.hasPerm("order:update"),
            addressShow: crown.hasPerm("order:address"),
            deleteShow: crown.hasPerm("order:delete")
        });
        //渲染表格
        var orderTable = table.render({
            elem: '#order-table',
            toolbar: '#order-toolbar',
            url: config.serverUrl + '/order',
            request: config.request,
            parseData: config.parseData,
            response: config.response,
            headers: {Authorization: config.getToken()},
            page: true,
            cols: [[
                {field: 'id', width: 60, title: 'ID', hide: true},
                {field: 'orderNum', align: 'center', sort: true, width: 183, title: '订单号'},
                {
                    field: 'status', align: 'center', sort: true, width: 102,
                    templet: function (d) {
                        if (d.status == 1) {
                            return '<div style="color: #11beff">待支付</div>'
                        }
                        if (d.status == 2) {
                            return '<div style="color: #eb7350">已支付</div>'
                        }
                        if (d.status == 3) {
                            return '<div style="color: #20b2aa">已发货</div>'
                        }
                        if (d.status == 4) {
                            return '<div style="color: #ff5e54">已收货</div>'
                        }
                        if (d.status == 5) {
                            return '<div style="color: #48153a">已确认</div>'
                        } else {
                            return '<div style="color: #ff1000">已结束</div>'
                        }
                    }, title: '订单状态'
                },
                {
                    field: 'addressee', align: 'center', sort: true, width: 88, templet: function (e) {
                        return e.orderLogistics.addressee

                    }, title: '收货人'
                },
                {
                    field: 'phone', align: 'center', sort: true, width: 117, templet: function (e) {
                        if (e.orderLogistics.phone != null) {
                            return e.orderLogistics.phone;
                        } else {
                            return "";
                        }
                    }, title: '收货电话'
                },
                {
                    field: 'address', align: 'center', sort: true, templet: function (e) {
                        return e.orderLogistics.province + ' ' + e.orderLogistics.city + ' ' + e.orderLogistics.district + ' ' + e.orderLogistics.street;
                    }, title: '地址', width: 116
                },
                {
                    field: 'logisticsNumber', align: 'center', sort: true, templet: function (e) {
                        if (e.orderLogistics.logisticsNumber != null) {
                            return e.orderLogistics.logisticsNumber;
                        } else {
                            return "";
                        }
                    }, title: '快递单号', width: 113
                },
                {
                    field: 'logisticsCompany', align: 'center', sort: true, templet: function (e) {
                        if (e.orderLogistics.logisticsCompany != null) {
                            return e.orderLogistics.logisticsCompany;
                        } else {
                            return "";
                        }
                    }, title: '快递公司', width: 113
                },
                {field: 'postFee', align: 'center', sort: true, title: '运费', width: 74},
                {field: 'totalFee', align: 'center', sort: true, title: '商品总价', width: 113},
                {field: 'actualFee', align: 'center', sort: true, title: '实付金额', width: 113},
                {field: 'createTime', align: 'center', sort: true, title: '创建时间', width: 161},
                {field: 'payTime', align: 'center', sort: true, width: 161, title: '支付时间'},
                {align: 'center', toolbar: '#order-table-bar', title: '操作', width: 256}
            ]]
        });

        //显示表单弹窗detail
        var showDetailModel = function (data) {
            crown.putTempData('t_order', data);
            crown.popupCenter({
                type: 1,
                resize: false,
                title: "订单详情",
                area: ['80%', '80%'],
                path: 'components/views/order/form.html',
                finish: function () {
                    orderTable.reload('order-table', {});
                }
            });
        };

        // 表格操作列事件
        table.on('tool(order-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'detail') {
                // 修改
                showDetailModel(data);
            }
            if (layEvent === 'delete') {
                // 删除
                doDelete(obj);
            }
            if (layEvent === 'update') {
                //确认发货
                doUpdate(data);
            }
            if (layEvent === 'address') {
                //修改地址
                doUpdateAddress(data);
            }
        });

        var doUpdateAddress = function (data) {
            //显示表单弹窗detail
            if (data.status > 2) {
                layer.alert("订单已经发货，不能执行此操作");
            } else {
                crown.putTempData('t_order', data);
                crown.popupCenter({
                    type: 1,
                    resize: false,
                    title: "修改地址",
                    area: ['80%', '80%'],
                    path: 'components/views/order/address.html',
                    finish: function () {
                        orderTable.reload('order-table', {});
                    }
                });
            }

        };


        var doUpdate = function (data) {
            if (data.status != 2) {
                layer.alert("订单不是：已支付状态，不能执行此操作");
            } else {
                layer.open({
                    type: 1,
                    area: '600px',
                    offset: '120px',
                    content: $('#order-model').html(),
                    success: function () {
                        form.val('order-form', data);
                    },
                });
            }
        };


        // 表单提交事件
        form.on('submit(order-form-submit)', function (data) {
            layer.load(2);
            crown.put('/order/logistics', {data: data.field}, function () {
                layer.closeAll('loading');
                layer.msg('修改成功', {icon: 1});
                orderTable.reload('order-table');
                layer.closeAll('page');
            });
            return false;
        });


        // 删除
        var doDelete = function (obj) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);
                crown.delete('/order/' + obj.data.id, {}, function () {
                    layer.closeAll('loading');
                    layer.msg('删除成功', {icon: 1});
                    obj.del();
                });
            });
        };


        // 搜索按钮点击事件
        $('#order-btn-search').click(function () {
            orderTable.reload({where: crown.getSearchForm()});
        });


    });

</script>