<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">订单管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>订单</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <!-- 搜索条件 -->
        <div class="layui-form toolbar">
            <form id="searchForm" onsubmit="return false;">
                订单号查询：<input name="memberNum" class="layui-input search-input" type="text" placeholder="订单号"/>&emsp;
                <div class="layui-input-inline">
                    订单状态： <select name="status">
                    <option value="">请选择</option>
                    <option value="1">待支付</option>
                    <option value="2">未发货</option>
                    <option value="3">已发货</option>
                    <option value="4">已确认</option>
                </select>
                </div>
                <button id="customer-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
                </button>
            </form>
        </div>
        <!-- 表格顶部操作列 -->
        <script type="text/html" id="order-toolbar">
            <div class="layui-btn-container">
                {{# if({{addShow}} == true){ }}
                <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add"><i
                        class="layui-icon">&#xe654;</i>添加
                </button>
                {{# } }}
            </div>
        </script>
        <!-- 数据表格 -->
        <table class="layui-table" id="order-table" lay-filter="order-table"></table>
    </div>
</div>


<!-- 表格操作列 -->
<script type="text/html" id="order-table-bar">
    {{#  if({{updateShow}} == true){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="update">修改</a>
    {{#  } }}
    {{#  if({{deleteShow}} == true){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    {{#  } }}

</script>

<script>
    layui.use(['form', 'table', 'config', 'crown'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var crown = layui.crown;
        var $ = layui.jquery;
        $('#order-toolbar').vm({
            addShow: crown.hasPerm("order:add")
        });
        $('#order-table-bar').vm({
            deleteShow: crown.hasPerm("order:delete"),
            updateShow: crown.hasPerm("order:update")
        });
        //渲染表格
        var orderTable = table.render({
            elem: '#order-table',
            toolbar: '#order-toolbar',
            url: config.serverUrl + '/order',
            request: config.request,
            parseData: config.parseData,
            response: config.response,
            headers: {Authorization: config.getToken()},
            page: true,
            cols: [[
                {field: 'id', width: 60, title: 'ID', hide: true},
                {field: 'orderNum', align: 'center', sort: true, title: '订单号'},
                {
                    field: 'status', align: 'center', sort: true,
                    templet: function (d) {
                        if (d.status == 1) {
                            return '<div style="color: #11beff">待支付</div>'
                        }
                        if (d.status == 2) {
                            return '<div style="color: #eb7350">未发货</div>'
                        }
                        if (d.status == 3) {
                            return '<div style="color: lightseagreen">已发货</div>'
                        }
                        if (d.status == 4) {
                            return '<div style="color: #ff5e54">已确认</div>'
                        }else {
                            return '<div style="color: #ff1000">错误订单</div>'
                        }
                    }, title: '订单状态'
                },
                {field: 'addressee', align: 'center', sort: true, title: '收货人'},
                {field: 'phone', align: 'center', sort: true, title: '收货电话'},
                {field: 'address', align: 'center', sort: true, title: '地址'},
                {field: 'logisticsNumber', align: 'center', sort: true, title: '快递单号'},
                {field: 'postFee', align: 'center', sort: true, title: '运费'},
                {field: 'totalFee', align: 'center', sort: true, title: '商品总价'},
                {field: 'actualFee', align: 'center', sort: true, title: '实付金额'},
                {field: 'createTime', align: 'center', sort: true, title: '创建时间'},
                {field: 'payTime', align: 'center', sort: true, title: '支付时间'},
                {align: 'center', toolbar: '#member-table-bar', title: '操作'}
            ]]
        });
        // 表格顶部操作列
        table.on('toolbar(order-table)', function (obj) {
            if (obj.event === 'add') {
                showEditModel();
            }
        });


        //显示表单弹窗
        var showEditModel = function (data) {
            if (data) {
                crown.get('/order/' + data.id, {async: false}, function (data) {
                    crown.putTempData('t_order', data.result);
                });
            }
            crown.popupCenter({
                type: 1,
                resize: true,
                title: data ? '修改会员' : '添加会员',
                area: ['80%', '80%'],
                offset: 'auto',
                path: '/components/views/order/form.html',
                finish: function () {
                    orderTable.reload('order-table', {});
                }
            });
        };


        // 表格操作列事件
        table.on('tool(order-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'update') {
                // 修改
                showEditModel(data);
            } else if (layEvent === 'delete') {
                // 删除
                doDelete(obj);
            }
        });

        // 删除
        var doDelete = function (obj) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);
                crown.delete('/order/' + obj.data.id, {}, function () {
                    layer.closeAll('loading');
                    layer.msg('删除成功', {icon: 1});
                    obj.del();
                });
            });
        };


        // 搜索按钮点击事件
        $('#brand-btn-search').click(function () {
            orderTable.reload({where: crown.getSearchForm()});
        });


    });

</script>