<style>
    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 25%;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }
</style>
<!-- user表单弹窗 -->
<form id="recommend-form" lay-filter="recommend-form" class="layui-form model-form" style="padding-right:0px;height:100%">
    <div style=" height:80%;overflow: auto;padding-right:10px;padding-left:10px">
        <fieldset class="layui-elem-field layui-field-title" style="margin-left: 30px;margin-right: 30px;">
            <legend>会员设置</legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">会员等级</label>
            <div class="layui-input-inline">
                <select name="mId" xm-select-radio="" xm-select-search="" xm-select="memberIds"  lay-verify="required">
                </select>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-left: 30px;margin-right: 30px;">
            <legend>活动详情设置</legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">指定商品</label>
            <div class="layui-input-inline">
                <select name="aPid" xm-select-radio="" xm-select-search="" xm-select="aProductIds"  lay-verify="required">
                </select>
            </div>
            <label class="layui-form-label">指定商品价格</label>
            <div class="layui-input-inline">
                <input name="pPrice" placeholder="指定商品价格" type="text" class="layui-input" lay-verify="required|number" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">领取商品</label>
            <div class="layui-input-inline">
                <select name="sPid" xm-select-radio="" xm-select-search="" xm-select="sProductIds"  lay-verify="required">
                </select>
            </div>
            <label class="layui-form-label">领取商品价格</label>
            <div class="layui-input-inline">
                <input name="sPrice" placeholder="领取商品价格" type="text" class="layui-input" lay-verify="required|number" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">领取人所需支付费用(元)</label>
            <div class="layui-input-inline">
                <input name="carriagePrice" placeholder="请输入价格" type="text" class="layui-input" lay-verify="required|number"/>
            </div>
            <label class="layui-form-label">领取人数(人)</label>
            <div class="layui-input-inline">
                <input name="peopleNum" placeholder="请输入人数" type="text" class="layui-input" lay-verify="required|number"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">支付成功返现(元)</label>
            <div class="layui-input-inline">
                <input name="payReturnMoney" placeholder="请输入返现额度" type="text" class="layui-input" lay-verify="required|number"/>
            </div>
            <label class="layui-form-label">购买商品返现(元)</label>
            <div class="layui-input-inline">
                <input name="buyReturnMoney" placeholder="请输入返现额度" type="text" class="layui-input" lay-verify="required|number"/>
            </div>
        </div>
    </div>
    <div class="layui-form-item model-form-footer" style="margin-top:10px;width:97%">
        <button class="layui-btn layui-btn-primary close" type="button">取消</button>
        <button class="layui-btn" lay-filter="recommend-form-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'crown','form','formSelects'], function() {
        var $ = layui.jquery
            ,upload = layui.upload;
        var crown = layui.crown;
        var form = layui.form;
        var formSelects = layui.formSelects;
        var config = layui.config;
        var recommendData = crown.getTempData("t_recommend");
        var imgId;
        if(recommendData){
            crown.fromVal('recommend-form', recommendData);
        }
        $('#recommend').vm({
            refreshShow: crown.hasPerm("recommend:add")
        });

        var members = new Array();
        crown.get('/member', {}, function (data) {
            var memberSelectData = new Array();
            for (var i = 0; i < data.result.records.length; i++) {
                memberSelectData.push({name: data.result.records[i].name, value: data.result.records[i].id})
            }
            formSelects.data('memberIds', 'local', {arr: memberSelectData});
            members = memberSelectData;
        });

        var products = new Array();
        crown.get('/product/products', {}, function (data) {
            var productsSelectData = new Array();
            for (var i = 0; i < data.result.length; i++) {
                productsSelectData.push({name: data.result[i].name, value: data.result[i].id})
            }
            formSelects.data('aProductIds', 'local', {arr: productsSelectData});
            formSelects.data('sProductIds', 'local', {arr: productsSelectData});
            products = productsSelectData;
        });

        // 表单提交事件
        form.on('submit(recommend-form-submit)', function (data) {
            layer.load(2);
            if (recommendData) {
                crown.put('/marketRecommend/' + data.field.id, {data: data.field}, function () {
                    layer.closeAll('loading');
                    layer.msg('修改成功', {icon: 1});
                    crown.finishPopupCenter();
                });
            }
            else{
                var i = data.field;
                debugger;
                crown.post('/marketRecommend', {data:data.field}, function () {
                    layer.closeAll('loading');
                    layer.msg('添加成功', {icon: 1});
                    crown.finishPopupCenter();
                });
            }
            return false;
        });
    });
</script>